body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}


h1 {text-align:center}
label {margin-right:1em}
#root {margin: 2em}
.buttons button {margin:1em}
input[type=radio] {margin-right:.4em} 
